.App {
  text-align: center;
}
.home{
  margin: 20px;
}
.heading{
  font-weight:bolder;
  font-size: 30px;
  margin: 10px;
}
.check-sen{
  display:flex;
  flex-direction: row;
  margin: 10px;
}

.spaces{
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
}